<h2>All Recipes</h2>
<div ng-controller="RecipesController as vm">
  <ul>
    <div ng-repeat="recipe in vm.recipes">
      <li>{{recipe.name}}</li>
    </div>
  </ul>
</div>

<div ng-controller="RecipesController as vm">
  <form ng-submit="vm.createRecipe(vm.recipe)">
    <input type="text" ng-model="vm.recipe.name">
    <input type="submit" value="Create New Recipe"/>
  </form>
</div>
