<div class="padding">
  <h3>All Ingredients</h3><button ng-click="vm.startDeleteButton()">Delete Any Ingredient</button>
  <!-- <div ng-controller="IngredientsController as vm">
    <ul>
      <li ng-repeat="ingredient in vm.ingredients">{{ingredient.ingredient}}</li>
    </ul>
  </div> -->

  <!-- <div ng-controller="IngredientsController as vm"> -->
    <ul>
      <div ng-repeat="ing in vm.allIngredients">
        <li>{{ing.ingredient}}</li>
        <div ng-show="vm.showDeleteButton == true">
          <button ng-click="vm.deleteIngredient(ing.id)">Delete Ingredient</button>
      </div>
    </div>
    </ul>
  <!-- </div> -->

  <h3>Create a New Ingredient</h3>
  <!-- <div ng-controller="IngredientsController as vm"> -->
    <form ng-submit="vm.createIngredient()">
      <input type="text" ng-model="vm.newIngredient.ingredient" required>
      <input type="submit" value="Create Ingredient" />
    </form>
  <!-- </div> -->
</div>
