
<div class="padding">
  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">
      </div>
      <div class="col-sm-8 text-left">
        <h3 align="center">All Recipes</h3>

          <div ng-show="vm.showSearch==true">
            <div class ="col-sm-6 col-sm-offset-4">
              <input class ="form-control input-lg"
              placeholder ="Search For Recipe "
              ng-model ="searchKey" />
            </div>
          </div>

        <div ng-show="vm.showAddRecipe == true">
          <div class="col-sm-6 col-sm-offset-4">
            <form  ng-submit="vm.addNewRecipe()" >
              <input class="form-control input-lg"
                      type="text"
                      ng-model="vm.newRecipe.name"
                      placeholder="Add New Recipe"
                      required>
              <!-- <input type="submit" value="Create New Recipe"/> -->
            </form>
          </div>
        </div>



        <div class="padding">
          <div ng-repeat="recipe in vm.recipes | filter: searchKey ">
            <li><a ui-sref="home.recipeShow({id: recipe.id})">{{recipe.name}}</a></li>
              <button ng-show= "vm.showDeleteRecipe == true"  ng-click="vm.deleteRecipe(recipe.id)">Delete Recipe</button>
          </div>
        </div>



      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <button ng-click="vm.startDeleteRecipe()">Delete any Recipe</button>
        </div>
        <div class="well">
          <button ng-click="vm.startAddRecipe()">Create Recipe</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>
</div>
