<div class="padding">
  <div>

    <h3 align="center">{{vm.recipe.name}}</h3>
    <button ng-click="vm.startEditRecipeName()">Edit Recipe Name</button>

    <!-- edit name form -->

    <div ng-show="vm.showEditRecipeName == true">
      <form ng-model="vm.recipe"
            ng-submit="vm.editRecipe()">
        <input type="text" ng-model="vm.recipe.name">
        <input type="submit" />
      </form>
    </div>

    <!-- end of edit name form -->

    <!-- recipe's ingredients -->
    <div ng-if="vm.recipe.ingredients.length >0">
    <h3 class="ingredient-text">Ingredients for this recipe: </h3>
    </div>

    <div ng-repeat="ingredient in vm.recipe.ingredients">
      <p >{{ingredient.ingredient}}</p>
      <button ng-click="vm.startDeleteIngredient(ingredient.id)">Delete Ingredient</button>
    </div>

    <!-- end of recipe's ingredients -->

  </div>

  <!-- add ingredient form -->

  <div>
    <h3>Add Ingredients Below</h3>
    <form ng-submit="vm.updateRecipe()">
        <input type="text"
               ng-model="vm.newIngredient.ingredient"/>
      <input type="submit" />
    </form>
  </div>

  <!-- end of add ingredient form -->

</div>
