<!-- <header>Recipe Maker V 2.0</header> -->

<div class="container-fluid">
  <div class="recipe-index" ng-controller="RecipesController as vm">



      <div class="row-fluid">
        <div class="col-sm-4">
          <div class="padding">
            <h2> All Recipes</h2>
          <div ng-repeat="recipe in vm.recipes"><br>
            <button style="font-family: sans-serif; font-size:20px;" ng-click="vm.recipe_show(recipe.id)">{{recipe.name}}</button>
          </div> <!--ng-repeat -->
        </div> <!--span2 -->
      </div>

        <div class="col-sm-4">
          <div class="padding">
            <h2>{{vm.title}}</h2>
            <div ng-repeat="ingredient in vm.current_recipe.ingredients">
              <p>{{ingredient.ingredient}}</p>
            </div><!--ng-repeat -->
            <div ng-bind-html="vm.url">{{vm.url}}</div>
          </div>
        </div><!--span10-->
    <!-- <a ui-sref="home.recipeShow({id:vm.recipe.id})" >Edit this recipe</a> -->

  </div><!--row-fluid -->
</div> <!--recipe-index -->
</div> <!--container -fluid-->

<!--
<article>
  <div class="ingredient-index" ng-controller="IngredientsController as vm">
    <h2>All Ingredients</h2>
    <div  ng-repeat="ingredient in vm.ingredients">
      <h3 class="right-half">{{ingredient.ingredient}}</h3>
    </div>
  </div>
<article> -->
