

<div class="padding">
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <h2> All Recipes</h2>
    <div ng-repeat="recipe in vm.recipes"><br>
      <!-- <p><a ui-sref="home.recipeShow({id: recipe.id})">{{recipe.name}}</a></p> -->
      <button style="font-family: sans-serif; font-size:20px;" ng-click="vm.recipe_show(recipe.id)">{{recipe.name}}</button>
    </div> <!--ng-repeat -->
    </div>

    <div class="col-sm-8 text-left">
      <h2>{{vm.title}}</h2>
      <ul class="list-group">
      <div ng-repeat="ingredient in vm.current_recipe.ingredients">
        <li class ="list-group-item">{{ingredient.ingredient}}</li>
      </div><!--ng-repeat -->
    </ul>

      <div ng-bind-html="vm.url">{{vm.url}}</div>
      <!-- <button ng-click="vm.startFullRecipe(recipe.id)">Edit Recipe</button>
        <div ng-show="vm.showFullRecipe == true">
          <div ng-include=" 'recipeShow.html' "></div>
        </div> -->
    </div>
    <div class="col-sm-2 sidenav">
      <!-- <div class="well">

        <button ui-sref="home.recipeShow" ng-click="vm.startFullRecipe()">Edit Recipe</button>
      </div>
      <div class="well">
        <p>ADS</p>
      </div> -->
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
</div>
