

/*

*= require_tree .
*= require_self
*= require recipes
*/

@import "bootstrap-sprockets";
@import "bootstrap";

// body{
//   padding-top: 50px;
// }

.padding{
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 25px;
}
/* Set gray background color and 100% height */
   .sidenav {
     padding-top: 20px;
     background-color: #f1f1f1;
     height: 100%;
   }
