<!DOCTYPE html>
<html>
  <head>
    <title>RecipeMaker2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="app">

    <div ng-controller="RecipeController as vm">
      <div ng-repeat="recipe in vm.recipes">
        <h3>{{recipe.name}}</h3>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
