<!DOCTYPE html>
<html>
  <head>
    <title>RecipeMaker2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


  </head>
  



    <body ng-app="app">

    <%= yield %>
  </body>
</html>
